@model IEnumerable<D72TP1P3.Models.DataModels.TvShow>
@using D72TP1P3.Models.DataModels
@{
    ViewBag.Title = "Seasons";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- DisplayTemplates -->
<!--DisplayFor  Voir  = /Areas/Gestion/Views/Shared/DisplayTemplates/Episode-->
@foreach (TvShow tvShow in Model)
{
    <div class="row">
        <div class="col-12"><h1>@tvShow.Title</h1></div>

        @foreach (Season season in tvShow.Seasons)
        {
            @Html.DisplayFor(m => season)
        }
    </div>
}
