@model IEnumerable<D72TP1P3.Models.DataModels.Episode>
@using D72TP1P3.Models.DataModels


<h1>@ViewBag.EpisodeSaison @D72TP1P3.Resources.Views.StringsViews.Episodes</h1>

<div class="row">
    @foreach (Episode ep in Model)
    {
        @Html.DisplayFor(e => ep)
    }

</div>
@Html.Partial("PaginationEpisodes");