@model D72TP1P3.Models.DataModels.Episode
@{
    ViewBag.Title = "ViewEpisode";
}



@if (!User.IsInRole("Donator"))
{
    <h1>@D72TP1P3.Resources.Views.StringsViews.YouHaveToBeADonator</h1>
}
else
{
    <h2>@Model.Number-@Model.Title</h2>
    <video id="LaVideo" controls>
        <source src="@Model.Video">
    </video>
}




